extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-error(5000)
  h1(class="mb-4") Them moi danh muc san pham

  form(
  action=`${prefixAdmin}/product-category/create`
  id="form-create-product-category"
  method="POST"
  enctype="multipart/form-data"
  )
    div(class="form-group")
      label(for="title") Tieu de 
      input(
        type="text"
        class="form-control"
        id="title"
        name="title"
        required
      )
    div(class="form-group")
      label(for="parentId") Thu muc cha
      input(
        type="text"
        class="form-control"
        id="parentId"
        name="parentId"
      )
    div(class="form-group")
      label(for="description") Mo ta 
      textarea(
        class="form-control textarea-tinymce"
        id="description"
        name="description"
        rows="5"
      )
    div(class="form-group"
    upload-image
    )
      label(for="thumbnail") Anh
      input(
        type="file"
        class="form-control-file"
        id="thumbnail"
        name="thumbnail"
        accept="image/*"
        upload-image-input
      )
      img(
        src=""
        upload-image-preview
        class="image-preview"
      )
    div(class="form-group")
    label(for="position") Vi tri
    input(
      type="number"
      class="form-control"
      id="position"
      name="position"
      placeholder="Tu dong tang"
      min="1"
    )
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusActive"
        name="status"
        value="active"
        checked
      )
      label(class="form-check-label" for="statusActive") Hoat dong
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusInactive"
        name="status"
        value="inactive"
      )
      label(class="form-check-label" for="statusInactive") Dung hoat dong
    div(class="form-group")
      button(type="submit" class="btn btn-primary") Them moi

  script(src="/admin/js/product.js")